@{
    <a asp-controller="Home" asp-action="Logout">Logout</a>
}

<div class="text-center">
<h4>Cookies Has Been Save Successfully</h4>
<a href="https://localhost:5001/Home/Admin">Add More Cookies</a>
</div>