@{
    ViewData["Title"] = "Our Valuable Product";
}
<div>
<head>
<style>
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Did You Find Your Favorite?</p>
</div>
</head>
<form asp-action="Search" asp-controller="Home" method="POST">
    <input name="Search" placeholder="Searching your Favorite" style="width: 210px;">
    <input type="submit" class="btn btn-success" id="submit">
  </form>
<form asp-action="Product" asp-controller="Home" method="POST">
      <label for="sort">Sorting</label>
         <select name = "Sort" id="Sort">
            <option value = "a">Default</option>
            <option value = "b">Name Ascending</option>
            <option value = "c">Name Descending</option>
            <option value = "d">Price Ascending</option>
            <option value = "e">Price Decending</option>
         </select>
      <input type="submit" class="btn btn-success" value="Submit">
  </form>
  @{
        var x = ViewBag.x;
        foreach (var i in x)
        {
            <div class="responsive">
                <div class="gallery">
                <a 
                target="_blank" href="https://localhost:5001/Product/Detail/@i.id">
                <img src="@i.foto" style="width: 263px; height: 150px;">
                </a>
                <div class="desc">
                    <h6>@i.nama</h6>
                    <div class="text-right">
                    <h6>Rp.@i.harga,-</h6>
                    </div>
                    <h6>Buy It Now</h6>
                </div>
            </div>
        </div> 
        }   
}
@{
<div class="text-center">
  <form asp-action="Link" asp-controller="Home" method="POST">
      <label for="link">Access Your Page to Find Your Favorite</label>
         <select name = "link" id="link">
            <option value = "a">Page 1</option>
            <option value = "b">Page 2</option>
            <option value = "c">Page 3</option>
            <option value = "d">Page 4</option>
            <option value = "e">Page 5</option>
         </select>
      <input type="submit" class="btn btn-success" value="Submit">
  </form>
</div>
}
</div>
