@{
    ViewData["Title"] = "Our Valuable Product";
}
<div>
<head>
<style>
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Many Product that You Can Buy</p>
</div>
</head>
@{
        var x = ViewBag.items;
        foreach (var i in x)
        {
            <div class="responsive">
                <div class="gallery">
                <a 
                target="_blank" href="https://localhost:5001/Product/Detail/@i.id">
                <img src="@i.foto" width="800" height="600">
                </a>
                <div class="desc">
                    <h6>@i.nama</h6>
                    <div class="text-right">
                    <h6>Rp.@i.harga,-</h6>
                    </div>
                    <h6>Buy It Now</h6>
                </div>
            </div>
        </div> 
        }   
}
</div>
